# EditorConfig配置文件
# 用于统一不同编辑器的代码格式

root = true

[*]
# 编码格式
charset = utf-8

# 缩进设置
indent_style = space
indent_size = 4

# 换行设置
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 特殊文件设置
[*.md]
trim_trailing_whitespace = false

[*.{c,h}]
indent_style = space
indent_size = 4

[*.{cpp,hpp}]
indent_style = space
indent_size = 4

[CMakeLists.txt]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 4

[*.swift]
indent_style = space
indent_size = 4